# Db configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=happy-chat-db
DB_USER=user
DB_PASS=password

# Hash password
SALT_OR_ROUNDS=12

# Jwt
JWT_SECRET=random_secret_key
TOKEN_EXPIRATION=hour || minutes || 48h